<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <title th:text="#{t-sign-in}"></title>
</head>
<body>
    <div th:insert="~{fragments/header.html :: app-header}"></div>
    
    <div>
        <h2 th:text="#{h-sign-in}"></h2>
        <form th:action="@{/login}" method="post">
            <table>
                <tr>
                    <td><label for="username" th:text="#{l-login}"/>:</td>
                    <td><input type="text" id="username" name="username"/></td>
                </tr>
                <tr>
                    <td><label for="password" th:text="#{l-password}"/>:</td>
                    <td><input type="password" id="password" name="password"/></td>
                </tr>
                <tr>
                    <td><label for="remember-me" th:text="#{l-rember-me}"/>:</td>
                    <td><input type="checkbox" id="remember-me" name="remember-me" /></td>
                </tr>
            </table>
            <button type="submit" th:text="#{b-sign-in}"/>
        </form>
    </div>
</body>
</html>