<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <title th:text="#{placeholder}"></title>
</head>
<body>
	<div th:insert="~{fragments/header.html :: app-header}"></div>
	
	<h2>Задачи:</h2>
	<div th:each="taskSample : ${taskSamples}">
		<a th:href="@{/task/{id}(id = ${taskSample.id})}">
				<span th:text="${taskSample.name}"/><br><br>
		</a>
	</div>
</body>
</html>