<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <title th:text="#{placeholder}"></title>
</head>
<body>
    <div th:insert="~{fragments/header.html :: app-header}"></div>

    Back to main Page
    <a th:href="@{/}">
        <button type="button">Main page</button> 
    </a>
    <br>
    <h2 th:text="${taskSample.name}">text</h2>
    <br>
    <span th:text="${taskSample.description != null} ? ${taskSample.description} : 'This task dont have description'"/>
    <form action="#" th:action="@{/task/{taskId}/start(taskId=${taskSample.id})}" enctype="multipart/form-data" th:object="${taskValues}" method="post">
        <div th:each="val, itemStat : *{values}">
            <span th:text="${taskSample.params[__${itemStat.index}__].name}"/>
            <input th:field="*{values[__${itemStat.index}__]}" />
        </div>
        <input type="file" name="file"/>
        <br>
        <input type="submit" value="Start"/>
    </form>
</body>
</html>