<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
</head>
<body>
    <!-- Check -->
    User <span th:text="${currentUser.name}"/> <span th:text="${currentUser.surname}"/> launched <b th:text="${taskSample.name}"/> processing with following params:
    <div th:each="val, itemStat : ${taskValues.values}">
        <span th:text="${taskSample.params[__${itemStat.index}__].name}"/>: <span th:text="${val}"/>
    </div>
    <br>
    Back to main Page
    <a th:href="@{/}">
        <button type="button">Main page</button> 
    </a>
</body>
</html>