<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <title th:text="#{placeholder}"></title>
</head>
<body>
    <div th:insert="~{fragments/header.html :: app-header}"></div>
    
    <h1>Editor</h1>
    <br>
    <a th:href="@{/editor/taskSamples}">
        <button type="button">Task Samples</button> 
    </a>
    <br>
    <a th:href="@{/editor/users}">
        <button type="button">Users</button> 
    </a>
    <br>
    <a th:href="@{/editor/tasksToProc}">
        <button type="button">Tasks To Proc</button> 
    </a>
</body>
</html>