<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <title th:text="#{placeholder}"></title>
</head>
<body>
    <div th:insert="~{fragments/header.html :: app-header}"></div>
    
    <h1 th:text="#{h.editor}">Editor</h1>
    <a th:href="@{/editor/taskSamples}">
        <button type="button" th:text="#{btn.task-samples}">Task Samples</button> 
    </a>
    <br>
    <a th:href="@{/editor/users}">
        <button type="button" th:text="#{btn.users}">Users</button> 
    </a>
</body>
</html>