<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <title th:text="#{placeholder}"></title>
</head>
<body>
    <div th:insert="~{fragments/header.html :: app-header}"></div>

    <span th:text="#{spn.current-user}">Current user is</span> 
    <span th:text="${#authentication.getPrincipal().getFirstname()}"/>
    <span th:text="${#authentication.getPrincipal().getSurname()}"/>
    <br>
    <h2 th:text="#{h.users-editor}">Users in DB editor</h2>
    <table border="1">
        <tr>
            <th th:text="#{th.user-id}">ID</th>
            <th th:text="#{th.user-name}">Name</th>
            <th th:text="#{th.user-surname}">Surname</th>
            <th th:text="#{th.user-priority}">Priority</th>
            <th th:text="#{th.user-minutes-to-proc-task}">Minutes to proc task</th>
            <th th:text="#{th.update}">Update</th>
            <th th:text="#{th.delete}">Delete</th>
        </tr>
        <tr th:each="user : ${users}">

            <td th:text="${user.id}"></td>
            <td th:text="${user.login}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.priority}"></td>
            <td th:text="${user.minutesToProcessTask}"></td>
            <td>
                <a th:href="@{/editor/updateInfo/user(userId=${user.id})}">
                    <button type="button" th:text="#{btn.update}">Update</button> 
                </a>
            </td>
            <td>
                <a th:href="@{/editor/deleteInfo/user(userId=${user.id})}">
                    <button type="button" th:text="#{btn.delete}">Delete</button> 
                </a>    
            </td>
        </tr>
    </table>
    <br>
    <input type="button" th:value="#{btn.add-user}" onclick="window.location.href = 'addUser'"/>
</body>
</html>
