<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <title th:text="#{placeholder}"></title>
</head>
<body>
    <div th:insert="~{fragments/header.html :: app-header}"></div>
    Back to main Page
    <a th:href="@{/}">
        <button type="button">Main page</button> 
    </a>
    <br>
    Back to editor
    <a th:href="@{/editor}">
        <button type="button">Editor</button> 
    </a>
    <br>
    <br>
    Current selected user is <span th:text="${currentUser.name}"/> <span th:text="${currentUser.surname}"/>
    <br>
    <h2>User in DB editor</h2>
    <table>
        <tr>
            <th>ID|</th>
            <th>Name|</th>
            <th>Surname|</th>
            <th>Priority|</th>
            <th>Minutes to proc task|</th>
            <th>Update|</th>
            <th>Delete</th>
        </tr>
        <tr th:each="user : ${users}">

            <div th:with="updateButton=@{/editor/updateInfo/user(userId=${user.id})}, deleteButton=@{/editor/deleteInfo/user(userId=${user.id})}">
                
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.surname}"></td>
                <td th:text="${user.priority}"></td>
                <td th:text="${user.minutesToProcessTask}"></td>
                <td>
                    <a th:href="${updateButton}">
                        <button type="button">Update</button> 
                    </a>
                </td>
                <td>
                    <a th:href="${deleteButton}">
                        <button type="button">Delete</button> 
                    </a>    
                </td>
            </div>
        </tr>
    </table>
    <br>
    <input type="button" value="Add" onclick="window.location.href = 'addUser'"/>
</body>
</html>
