<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset='utf-8'>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
	<title th:text="#{placeholder}"></title>
</head>

<body>
	<select th:fragment="choosing-language" name=language onchange="location = this.value;">
		<option value='' th:text="#{choose_language}"></option>
		<option value='http://localhost:8081/?locale=ru' th:text="#{russian}"></option>
		<option value='http://localhost:8081/?locale=en' th:text="#{english}"></option>
	</select>

	<div th:fragment="task-history-for-user">
		<h2 th:text="#{h.task-history-for-user}"></h2>
		<table border="1">
			<thead>
				<tr>
					<th th:text="#{th.task-id}"></th>
					<th th:text="#{th.task-start-time}"></th>
					<th th:text="#{th.task-name}"></th>
					<th th:text="#{th.task-params}"></th>
					<th th:text="#{th.task-status}"></th>
					<th th:text="#{th.download-link}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="task, iStat : ${personalCabinetDto.pageOfUserTasks.content}">
					<td th:text="${task.taskId}"></td>
					<td th:text="${task.startTime}"></td>
					<td th:text="${task.taskSampleName}"></td>
					<td>
						<table th:if="${task.taskParams != null and !#lists.isEmpty(task.taskParams)}">
							<tr th:each="taskParam, itemStat : ${task.taskParams}">
								<td th:text="|${task.taskParams[__${itemStat.index}__].paramName}:|"></td>
								<td th:if="${task.taskParams[__${itemStat.index}__].paramType.name() == 'FILE'}">
									<a th:href="@{/download/taskToProc/{taskId}/fileParam(taskId = ${task.taskId}, fileParamName=${task.taskParams[__${itemStat.index}__].paramName})}" th:text="${task.taskParams[__${itemStat.index}__].paramValue}"></a>
								</td>
								<td th:unless="${task.taskParams[__${itemStat.index}__].paramType.name() == 'FILE'}" th:text="|${task.taskParams[__${itemStat.index}__].paramValue}|"></td>
							</tr>
						</table>
					</td>
					<td th:text="${task.taskStatus}"></td>
					<div>
						<td th:if="${task.isFinished}">
							<a th:href="@{/download/taskToProc/{taskId}/result(taskId = ${task.taskId})}" th:text="#{a.download}"></a>
						</td>
						<td th:unless="${task.isFinished}">-</td>
					</div>
				</tr>
			</tbody>
		</table>
		<div th:if="${taskPage.totalPages > 0}"
			th:each="pageNumber : ${pageNumbers}"
			class="pagination">
			<a th:href="@{/personal(page=${pageNumber})}"
				th:text=${pageNumber}
				th:class="${pageNumber==taskPage.number + 1} ? active"></a>
		</div>
	</div>

	<div th:fragment="task-history-for-all-users">
		<h2 th:text="#{h.task-history-for-all-users}">Task To Proc in DB</h2>
		<table border="1">
			<thead>
				<tr>
					<th th:text="#{th.task-id}">ID</th>
					<th th:text="#{th.task-start-time}">Start Time</th>
					<th th:text="#{th.task-user}">User</th>
					<th th:text="#{th.task-name}">Task</th>
					<th th:text="#{th.task-params}">Params</th>
					<th th:text="#{th.task-status}">Status</th>
					<th th:text="#{placeholder}">Delete</th>
					<th th:text="#{th.task-start-button}"></th>
					<th th:text="#{th.task-stop-button}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="task : ${taskPage}">
					<td th:text="${task.id}"></td>
					<td th:text="${task.startTime}"></td>
					<td th:text="${task.user.name + ' ' + task.user.surname}"></td>
					<td th:text="${task.taskSample.name}"></td>
					<td>
						<table th:if="${task.taskParams != null and !#lists.isEmpty(task.taskParams)}">
							<tr th:each="taskParam, itemStat : ${task.taskParams}">
								<td th:text="|${task.taskParams[__${itemStat.index}__].paramName}:|"></td>
								<td th:text="|${task.taskParams[__${itemStat.index}__].paramValue}|"></td>
							</tr>
						</table>
					</td>
					<td th:text="${task.status}"></td>
					<td>
						<form th:action="@{/controlPanel/delete/{taskId}(taskId=${task.id})}" method="post">
							<button type="subbmit">Delete</button>
						</form>
					</td>
					<td>
						<form th:if="${task.status.name() == 'CREATED'}">
							<button type="subbmit">Start</button>
						</form>
						<!-- <form th:if="${task.status.name() == 'CREATED'}"
							th:action="@{/controlPanel/launch/{taskId}(taskId=${task.id})}" method="post">
							<button type="subbmit">Start</button>
						</form> -->
					</td>
					<td>
						<form  th:if="${task.status.name() == 'IN_PROCESSING'}"
							th:action="@{/controlPanel/stop/{taskId}(taskId=${task.id})}" method="post">
							<button type="subbmit">Stop</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<div th:if="${taskPage.totalPages > 0}"
			th:each="pageNumber : ${pageNumbers}"
			class="pagination">
			<a th:href="@{/personal(page=${pageNumber})}" th:text=${pageNumber}
				th:class="${pageNumber==taskPage.number + 1} ? active"></a>
		</div>
	</div>

	<div>
		
	</div>
</body>