<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <title th:text="#{placeholder}"></title>
</head>

<body>

    <div th:fragment="app-header">
        <div sec:authorize="isAuthenticated()">
            <div sec:authorize="hasRole('ROLE_ADMIN')" th:insert="~{fragments/header.html :: admin-header}"></div>
            <div sec:authorize="hasRole('ROLE_USER')" th:insert="~{fragments/header.html :: user-header}"></div>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <div th:insert="~{fragments/header.html :: guest-header}"></div>
        </div>
    </div>

    <header th:fragment="guest-header">
        <div class="header">
            <nav class="navbar">
                <a href="/" class="nav-title">Richis App</a>
                <div th:insert="~{fragments/components.html :: choosing-language}"></div>
                <ul class="nav-menu">
                    <li><a href="/login" class="nav-link" th:text="#{sign-in}"></a></li>
                    <li><a href="/register" class="nav-link" th:text="#{sign-out}"></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <header th:fragment="user-header">
        <div class="header">
            <nav class="navbar">
                <a href="/" class="nav-title">Richis App</a>
                <div th:insert="~{fragments/components.html :: choosing-language}"></div>
                <ul class="nav-menu">
                    <li><a href="/tasks" class="nav-link" th:text="#{choosing-task}"></a></li>
                    <li><a href="/placeholder" class="nav-link" th:text="#{request-to-admin}"></a></li>
                    <li><a href="/personal" class="nav-link" th:text="#{personal-cabinet}"></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <header th:fragment="admin-header">
        <div class="header">
            <nav class="navbar">
                <a href="/" class="nav-title">Richis App</a>
                <div th:insert="~{fragments/components.html :: choosing-language}"></div>
                <ul class="nav-menu">
                    <li><a href="/tasks" class="nav-link" th:text="#{choosing-task}"></a></li>
                    <li><a href="/placeholder" class="nav-link" th:text="#{request-to-admin}"></a></li>
                    <li><a href="/personal" class="nav-link" th:text="#{personal-cabinet}"></a></li>
                    <li><a href="/controlPanel" class="nav-link" th:text="#{control-panel}"></a></li>
                    <li><a href="/editor" class="nav-link" th:text="#{editor}"></a></li>
                    <li><a href="/placeholder" class="nav-link" th:text="#{requests-from-users}"></a></li>
                    <li><a href="/test" class="nav-link" th:text="Test"></a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>

</html>