/* Стили для заголовка */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 50px;
    border-bottom: 2px solid #000; /* Граница снизу */
    background-color: #fff;
}

.navbar{
    width: 95%;
    min-height: 50;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
/* 
.nav-link{
    width: 100px;
} */

body {
    margin-top: 60px;
}