/* Стили для заголовка */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 50px;
    border-bottom: 2px solid #000; /* Граница снизу */
    background-color: #fff;
}

.navbar{
    width: 95%;
    min-height: 50;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: darkblue;
    float: left;
    padding: 1px 4px;
    text-decoration: none;
}
body {
    margin-top: 60px;
}