<!DOCTYPE html>
<html>
<head>
	<title>Richis app</title>
    <meta content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
    <span th:text="#{s-personal-cabinet}"/>
    <br>
	<span th:text="#{s-user}"/>: <span th:text="${user.name}"></span> <span th:text="${user.surname}"></span>
    <br><br>
    <a th:href="@{/logout}">
        <button type="button" th:text="#{b-logout}"></button> 
    </a>
    <!-- <div th:insert="fragments/personal-cab.html :: task-history"></div> -->
</body>
</html>