<!DOCTYPE html>
<html>
<head>
    <title th:text="#{welcome}"></title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <title>Page Title</title>
</head>
<body>
    <div th:if="${currentUser}">
		<div th:if="${currentUser.hasRole('admin')}" th:insert="fragments/header.html :: admin-header"></div>
		<div th:unless="${currentUser.hasRole('admin')}" th:insert="fragments/header.html :: user-header"></div>
	</div>
	<div th:unless="${currentUser}">
		<div th:insert="fragments/header.html :: guest-header"></div>
	</div>
    This is placeholder page
</body>
</html>