<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <a th:href="@{/}">
        <button type="button">Cancel</button> 
    </a>
    <h2>Setting User</h2>

    <form action="/set-user/setting">
        <select id="selectedUser" name="selectedUser">
            <option th:each="user : ${users}"
                th:value="${user.id}"
                th:selected="${user.id} == ${currentUser.id} ? true : false"
                th:text="${user.name}">
            </option>
        </select>

        <input type="submit" value="Submit">
    </form>

    <!-- <form action="/process" method="post">
        <select id="fruit" name="fruit" th:field="*{selectedFruit}">
            <option value="apple">Яблоко</option>
            <option value="banana">Банан</option>
            <option value="orange">Апельсин</option>
            <option value="pear">Груша</option>
        </select>
        <button type="submit">Отправить</button>
    </form> -->

    <!-- <form action="index.php?action=contact_agent">
        <select name="agent_id" required>
            <option value="1">Agent Homer</option>
            <option value="2">Agent Lenny</option>
            <option value="3">Agent Carl</option>
        </select>
        <input type="submit" value="Submit">
    </form> -->
</body>
</html>