<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
</head>
<body>
    Back to main Page
    <a th:href="@{/}">
        <button type="button">Main page</button> 
    </a>
    <h2>История выполнения задач:</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Start Time</th>
            <th>Task</th>
            <th>Params</th>
            <th>Status</th>
        </tr>
        <tr th:each="task : ${tasksToProc}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.startTime}"></td>
                <td th:text="${task.taskSample.name}"></td>
                <td th:text="${task.joinedParams}"></td>
                <td th:text="${task.status}"></td>
        </tr>
    </table>
</body>
</html>