<!DOCTYPE html>
<html>
<head>
	<title>Richis app</title>
	<meta content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
	<div th:if="${currentUser}">
		<div th:if="${currentUser.hasRole('admin')}" th:insert="fragments/header.html :: admin-header"></div>
		<div th:unless="${currentUser.hasRole('admin')}" th:insert="fragments/header.html :: user-header"></div>
	</div>
	<div th:unless="${currentUser}">
		<div th:insert="fragments/header.html :: guest-header"></div>
	</div>
	<h2>Richis App</h2>
</body>
</html>