<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <title th:text="#{placeholder}"></title>
</head>
<body>
    <div th:insert="~{fragments/header.html :: app-header}"></div>

    <h2 th:if="${editingTaskSampleDto.id}" th:text="|#{h.task-sample-info-of} #${editingTaskSampleDto.id}|">Task Sample Data</h2>
    <h2 th:unless="${editingTaskSampleDto.id}" th:text="#{h.creating-new-task-sample}">Creating new task sample</h2>

    <form action="#" th:action="@{/editor/taskSamples/edit}" th:object="${editingTaskSampleDto}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>

        <span th:text="|#{lbl.task-sample-name}:|" >Name</span>
        <br>
        <input type="text" th:field="*{name}" style="width:400px;"/>
        <br>
        <span th:text="|#{lbl.task-sample-description}:|">Description</span>
        <br>
        <textarea type="text" th:field="*{description}" style="height:120px;width:400px;resize:none"/>
        <br>
        <br>
        
        <span th:text="|#{lbl.launch-command-template}:|">Launch command template</span>
        <input type="text" th:field="*{launchCommandTemplate}"/>
        <br>
        <span th:if="*{scriptFileName}" th:text="|#{lbl.set-new-script-file}:|" />
        <span th:unless="*{scriptFileName}" th:text="|#{lbl.set-script-file}:|" />
        <input type="file" th:field="*{scriptFile}"/>

        <input type="hidden" th:field="*{scriptFileName}">
        <div th:if="*{scriptFileName}">
            <span th:text="|#{lbl.download-script}:|">Download current script file:</span>
            <a th:href="@{/download/taskSampleScript/{taskSampleId}(taskSampleId = *{id})}" th:text="*{scriptFileName}"/>
        </div>
        <br>
        <br>

        <span th:text="|#{lbl.task-sample-params}:|">Params</span>
        <br>
        <table th:if="*{paramsInfo != null and !#lists.isEmpty(paramsInfo)}">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Constraints</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="paramInfo, i1 : *{paramsInfo}">
                    <input type="hidden" th:field="*{paramsInfo[__${i1.index}__].id}"/>
                    <input type="hidden" th:field="*{paramsInfo[__${i1.index}__].type}"/>
                    <input type="hidden" th:field="*{paramsInfo[__${i1.index}__].uuid}"/>

                    <td th:text="${paramInfo.type}"></td>
                    <td><input type="text" th:field="*{paramsInfo[__${i1.index}__].name}" /></td>
                    <td>
                        <textarea type="text" th:field="*{paramsInfo[__${i1.index}__].description}" style="height:40px;width:300px;resize:none"/>
                    </td>
                    <td>
                        <div th:if="${paramInfo.type.name() == 'INTEGER'}" th:each="intConstraint, i2 : *{intConstraints}" style="display:inline">
                            <div th:if="${paramInfo.uuid == intConstraint.uuid}">
                                <input type="hidden" th:field="*{intConstraints[__${i2.index}__].uuid}"/>
                                
                                <input type="text" th:field="*{intConstraints[__${i2.index}__].min}" style="width:40px">
                                <input type="text" th:field="*{intConstraints[__${i2.index}__].max}" style="width:40px">
                            
                                <span th:if="${#fields.hasErrors('intConstraints[' + i2.index + ']')}" th:errors="*{intConstraints[__${i2.index}__]}" style="color: red">Wrong input!</span>
                            </div>
                        </div>
                        <div th:if="${paramInfo.type.name() == 'STRING'}" th:each="strConstraint, i2 : *{strConstraints}" style="display:inline">
                            <div th:if="${paramInfo.uuid == strConstraint.uuid}">
                                <input type="hidden" th:field="*{strConstraints[__${i2.index}__].uuid}"/>
                                
                                <input type="text" th:field="*{strConstraints[__${i2.index}__].regExConstraint}">
                                <input type="text" th:field="*{strConstraints[__${i2.index}__].hintValue}">

                                <span th:if="${#fields.hasErrors('strConstraints[' + i2.index + ']')}" th:errors="*{strConstraints[__${i2.index}__]}" style="color: red">Wrong input!</span>
                            </div>
                        </div>
                        <div th:if="${paramInfo.type.name() == 'FILE'}" th:each="fileConstraint, i2 : *{fileConstraints}" style="display:inline">
                            <div th:if="${paramInfo.uuid == fileConstraint.uuid}">
                                <input type="hidden" th:field="*{fileConstraints[__${i2.index}__].uuid}"/>

                            </div>
                        </div>
                    </td>
                    <td>
                        <button type="submit" name="removeParam" th:formaction="@{/editor/taskSamples/edit(paramUuid=${paramInfo.uuid})}" th:text="X">X</button>
                    </td>
                    
                </tr>
            </tbody>
        </table>
        <div th:unless="*{paramsInfo != null and !#lists.isEmpty(paramsInfo)}">
            <p th:text="#{lbl.no-params}">This sample dont have parameteres</p>
        </div>

        <select id="addingType" name="addingType">
            <option th:each="typeOpt : ${T(com.richi.common.enums.TaskSampleParamType).values()}" 
                th:value="${typeOpt}"
                th:text="${typeOpt}">
            </option>
        </select>
        <input type="submit" name="addParam" th:value="#{btn.add-param}"/>
        <br>
        <br>
        <input type="submit" name="save" th:value="#{btn.save}"/>
    </form>
    <a th:href="@{/editor/taskSamples}">
        <button type="button" th:text="#{btn.cancel}">Cancel</button> 
    </a>
</body>
</html>