<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <title th:text="#{placeholder}"></title>
</head>
<body>
    <div th:insert="~{fragments/header.html :: app-header}"></div>

    <h2 th:if="${taskSample.id}" th:text="|#{h.task-sample-info-of} #${taskSample.id}|">Task Sample Data</h2>
    <h2 th:unless="${taskSample.id}" th:text="#{h.creating-new-task-sample}">Creating new task sample</h2>

    <form action="#" th:action="@{/editor/editTaskSample}" th:object="${taskSample}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>
    
        <span th:text="|#{lbl.task-sample-name}:|" >Name</span>
        <br>
        <input type="text" th:field="*{name}" style="width:400px;"/>
        <br>
        <span th:text="|#{lbl.task-sample-description}:|">Description</span>
        <br>
        <textarea type="text" th:field="*{description}" style="height:120px;width:400px;resize:none"/>
        <br>
        <br>
        
        <span th:if="${fileName}" th:text="#{lbl.set-new-script-file}" /><span th:unless="${fileName}" th:text="|#{lbl.set-script-file}:|" />
        <input type="file" th:field="*{scriptFile}"/>

        <div th:if="${fileName}">
            <span th:text="|#{lbl.download-script}:|">Download current script file:</span> <a th:href="@{/download/taskSample/{taskSampleId}(taskSampleId = ${taskSample.id})}" th:text="${fileName}"/>
        </div>
        <br>
        <br>
        <span th:text="|#{lbl.task-sample-params}:|">Params</span>
        <br>
        
        <div th:unless="${taskSample.params.empty}">
            <div th:each="par, itemStat : *{params}">
                <input type="hidden" th:field="*{params[__${itemStat.index}__].id}"/>
                <span><input th:field="*{params[__${itemStat.index}__].name}" /></span>
                <input type="hidden" th:field="*{params[__${itemStat.index}__].type}"/>
                <span th:text="*{params[__${itemStat.index}__].type}"></span>

                <button th:if="${par.id}" type="submit" name="removeParam" th:formaction="@{/editor/editTaskSample(taskSampleParamId=${par.id}, taskSampleParamName=${par.name})}" th:text="X">X</button>
                <button th:unless="${par.id}" type="submit" name="removeParam" th:formaction="@{/editor/editTaskSample(taskSampleParamId=0, taskSampleParamName=${par.name})}" th:text="X">X</button>
            </div>
        </div>
        <div th:if="${taskSample.params.empty}">
            <p th:text="#{lbl.no-params}">This sample dont have parameteres</p>
        </div>
        <select id="addingType" name="addingType">
            <option th:each="typeOpt : ${T(com.richi.common.enums.TaskSampleParamType).values()}" 
                th:value="${typeOpt}"
                th:text="${typeOpt}">
            </option>
        </select>
        <input type="submit" name="addParam" th:value="#{btn.add-param}"/>
        <br>
        <br>
        <input type="submit" name="save" th:value="#{btn.save}"/>
    </form>
    <a th:href="@{/editor/taskSamples}">
        <button type="button" th:text="#{btn.cancel}">Cancel</button> 
    </a>
</body>
</html>