<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <title th:text="#{placeholder}"></title>
</head>
<body>
    <div th:insert="~{fragments/header.html :: app-header}"></div>
    <h2 th:text="#{h.task-samples-editor}">TaskSample in DB editor</h2>
    <table border="1">
        <tr>
            <th th:text="#{th.task-sample-id}">ID</th>
            <th th:text="#{th.task-sample-name}">Name</th>
            <th th:text="#{th.task-sample-description}" width="400px">Description</th>
            <th th:text="#{th.update}">Update</th>
            <th th:text="#{th.delete}">Delete</th>
        </tr>
        <tr th:each="taskSample : ${taskSamples}">
            <td th:text="${taskSample.id}"></td>
            <td th:text="${taskSample.name}"></td>
            <td th:text="${taskSample.description}" style="height:20px;width:20px;"></td>
            <td>
                <a th:href="@{/editor/updateInfo/taskSample(taskSampleId=${taskSample.id})}">
                    <button type="button" th:text="#{btn.update}">Update</button> 
                </a>
            </td>
            <td>
                <a th:href="@{/editor/deleteInfo/taskSample(taskSampleId=${taskSample.id})}">
                    <button type="button" th:text="#{btn.delete}">Delete</button> 
                </a>    
            </td>
        </tr>
    </table>
    <br>
    <input type="button" th:value="#{btn.add-task-sample}" onclick="window.location.href = 'addTaskSample'"/>
</body>
</html>